/* =============
     Animate On Scroll
============= */
#animateonscroll{
     display: grid;
     grid-template-columns: 16px auto 16px;
     grid-template-areas: ". aos .";

     @include md{
         margin: 100px 0;
     }
     
     
     @include xl{
          grid-template-columns: auto 1200px auto;
     }


     #aos-grid-item{
          grid-area: aos;

          display: grid;
          grid-template-columns: 50% auto;
          gap: 16px;
          @include md{
               grid-auto-columns:repate(4, 1fr);
          }

          img{
               width: 100%;
          }
     }
}




