/* =============
    Hero
============= */
#hero{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    grid-template-columns: 36% auto;

    section{

        margin-top: 260px;
    h1{
           color: var(--white);
           margin: 10px;
           //margin: 35%;
           margin-right: 55px;
        }
    

        p{
            color: var(--white);
           margin-bottom: 20px;
           //margin: 18%;
          // margin: 50px;
          margin-right: 50px;

        }
    }

}