/* =============
    Hero
============= */
#hero{
    margin-top: 50px;
    section{
    h1{
           color: var(--white);
           margin: 10px;
        }
        p{
            color: var(--white);
            margin-bottom: 20px;
        }
    }

}