/* =============
    Hero
============= */
#hero{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 40% auto;
   

    #left-side{
        height: 100%;
        display: flex;
        align-items: center;

       //margin-top: 260px;
    h1{
           color: var(--white);
           //margin: 10px;
           //margin: 38%;
           margin-right: 35px;
        }
    

        p{
          color: var(--white);
           //margin-bottom: 10px;
           //margin: 18%;
          margin-left: 20px;
          margin: 40px;
          margin-right: 48px;

        }
    }

}