/* =============
    plans
============= */
#plans{
    
    div{
        display: grid;
        
   
        h1{
            font-weight: 700;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        h2{
            text-align: center;
            font-weight: 500;
            margin-bottom: 5px;
        }

        img{
            text-align: center;
        }

        }

        //display: grid;
        //grid-template-columns: repeat(3,1fr);
    
    }



    .plans-card{

        margin-top: 50px;
        margin-bottom: 30px;
        }
        #purple-highlight{
        background-color: var(--purple);

        
    }


