/* =============
    plans
============= */
#plans{
    
    div{
        display: grid;
        
   
        h1{
            font-weight: 700;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        h2{
            text-align: center;
            font-weight: 500;
            margin-bottom: 5px;
        }

        img{
            text-align: center;
        }

        }
    
    }



    #plans-card-grid-items{

        display: grid;
        grid-template-columns: repeat(3,2fr);

        .plans-card{
            h3{
                font-weight: 500;
                padding-right: 110px;
            }
           h4{
            font-weight: 500;
           }
            margin-top: 50px;
            margin-bottom: 30px;
            }
            #purple-highlight{
            background-color: var(--purple);
    }
    


    }

