/* =============
    Footer
============= */
footer{
    //margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--black);
    #footer-top{

        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". ftgi .";
        
           

        #footer-top-grid-item{
            //border: 1px solid red;

            grid-area: ftgi;
            display: grid;
            grid-template-columns: 35% 20% 20% auto;

            #footer-logo{
                p{
                    padding-right: 200px;
                }
            }

         
         p{
            color: var(--white);
           // padding-right: 100px;

         }
        


        #social-links{
            display: flex;
            margin-top: 20px;
            li{
                margin-right: 16px;
            }

            a:link, a:visited{
                height: 30px;
                width: 30px;
                border: 1px solid var(--white);
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a:hover, :active{
                background-color: var(--light-blue);
                color: var(--gray);
                border: 1px solid var(--light-blue);
            }






        }

        a:link, a:visited{
            color: var(--white);
            transition: 0.25s;
            margin-bottom: 15px;

        }

        a:hover, a:active{
            color:var(--light-blue);

        }
        
        #footer-card{
            
           
        
                h2{
                    color: var(--white);
                }
                }
    
        
            h2{
                color: var(--white);
        
            }
        
            h3{
        
                color: var(--white);
                font-weight: 500;
            }

}

    
    }



}   
    



    

#footer-bottom{
    p{
        color: var(--white);
    }
        margin-top: 100px;
        text-align: center;
        display: grid;
        grid-template-columns: auto 1140 auto;
        grid-template-areas: ". fbgi .";
       


        #footer-bottom-grid-item{
            grid-area: fbgi;
            display: flex;
          
        
        }
    }



