/* =============
    Header
============= */
header{
    background-color: var(--purple);
    padding: 22px;
    border-radius: 6px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% auto;

#logo-container{
    display: flex;
    align-items: center;
    grid-template-columns: 50% auto;
    


}


}