/* =============
    Buttons
============= */
button{
    border: none;
}

.blue-btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 5px;
    a:link, a:visited{
        color: var(--white);
        transition: 0.25s;
    
    }
    
    a:hover, a:active{
        color: var(--black);
        transition: 0.25s;
    }

}

.disabled-btn{
    background-color: var(--blueLight);
    color: var(--blue);
    padding: 15px 30px;
    border-radius: 5px;
}


