/* =============
    Buttons
============= */


    

.lightblue-btn{
background-color: var(--lightblue);
color: var(--white);
padding:50px, 30px;
border-radius: 50px;
margin-top: 20px;

a:link, a:visited{
    color: var(--lightblue);
    transition: 0.25s;

}

a:hover, a:active{
    color: var(--black);
    transition: 0.25s;


}

}
