/* =============
    Buttons
============= */

button{
    border: none;
    border: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.green-btn{
    
    padding: 16px 24px;
    background-color: var(--greenaqua);
    transition: 0.25s;
    color: var(--white);
    border-radius: 8px;
}

.green-btn:hover{
    background-color: var(--white);
    color: var(--greenaqua);
}

.white-btn{
    border: 1px solid var(--greenaqua);
    padding: 16px 24px;
    background-color: var(--white);
    transition: 0.25s;
    color: var(--greenaqua);
    border-radius: 8px;
}

.white-btn:hover{
    background-color: var(--gray);
    color: var(--white);
}

.close-btn{
    background-color:var(--red);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

 }
