/* =============
    Navigation
============= */
a{
    text-decoration: none;
}
nav{
    padding: 10px;
    
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        li{
            a:link, a:visited{
                padding: 10px;
                //border: 1px solid red;
                display: inline-block;
                margin-bottom: 12px;
                color: var(--gray);
                transition: 0.25s;
                //border-bottom: 1px solid var(--gray);

            }

            a:hover, a:active{
                color: var(--black);

            }

            .signinup-btn{
                background-color: var(--greenaqua);
                color: var(--white);
                //border-radius: 500px;
                font-family: 600;
                border: none;
                transition: 0.25s;
                cursor: pointer;

             }

             .signinup-btn:hover{
                background-color: var(--gray);
                color: var(--black);

             }

        }

    }
}