/* =============
    Hero
============= */
#hero {
  margin-top: 50px;
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
  grid-template-columns: 40% auto;
}
#hero #left-side {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hero #left-side h1 {
  color: var(--white);
  margin-right: 35px;
}
#hero #left-side p {
  color: var(--white);
  margin-left: 20px;
  margin: 40px;
  margin-right: 48px;
}