/* =============
    Base
============= */
body{
    background-color: var(--purple);
    
    main{
        display: grid;
        grid-template-columns: auto 1140 auto;
        grid-template-areas: ". main-grid-item .";



     #main-grid-item{

        grid-area: main-grid-item;

     }

    }
}

