/* =============
    Base
============= */
body{
    background-color: var(--purple);
    
    main{
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". main-grid-item .";



     #main-grid-item{

        grid-area: main-grid-item;

     }

    }
}
#validation-bnt{
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
