/* =============
    Base
============= */
body{
    main{
        display: grid;
        grid-template-columns: auto 1140px auto;
        grid-template-areas: ". grid-content .";



        #main-grid-item{
            grid-area: grid-content;

        }
    }




    #validation-btn{
        text-align: center;
    }

}
